@import "https://fonts.googleapis.com/css?family=Lato:400,700";

#nav-bar{
  position:fixed;
  top:0;
  left:0;
  display:flex;
  justify-content:space-evenly;
  width:50%;
  background-color: white;
  padding: 2% 25% 2% 25%;
  z-index:10;
}
body{
  background-color: white;
  font-family:'Lato';
}
@media (max-width:200px){body{background-color:red;}}

#header-img{
  position:fixed;
  height:4.9em;
  top:0;
  left:0;
  z-index:11;
  
}
#form{
  margin-top:6%;
  text-align:center;
}
.nav-link{
  color:black;
  
}
#email{
  margin-top:1%;
  width: 25%;
}
#email-label{
  font-size:110%;
}
#submit{
  margin-top:1%;
  background-color: yellow;
  font-family:'Lato';
  border:none;
  width:10%;
  height:2em;
}
#about{
  text-align:center;
  margin-top:1%;
}
.proimg{
  position:absolute;
  height:10em;
  left:45%;
}
#pro2img{
  position:absolute;
  left:45%;
  height:10em;
  
}
.prodesc{
  text-align:center;
  margin-top:8%;
  margin-bottom:2%;
  font-size:2em;
}
.desc{
  text-align:center;
  margin-top: 14%;
  margin-left:37%;
  max-width: 25%;
}
video{
  margin-top:5%;
}
a{
  text-decoration:none;
}
#features{
  margin-top:3%;
  margin-bottom: 9%;
  display:flex;
  justify-content:space-evenly;
}

.feature{
  border-style:solid;
  width:20%;
  height:11em;
  
}
.fdesc{
  margin-top:-5%;
  text-align:center;
  color:black;
  line-height:270%;
  
  
}
.ft{
  background:#ddd;
  color:black;
  margin-top:0%;
 text-align:center;
 
}
#footer{
  color:black;
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
}
footer{
  position:relative;
  background-color:#ddd;
  bottom:0%;
  height:4em;
  width:80%;
  left:10%;
  padding-bottom:1%;
  border-width:0px 0px 0px 0px;
  
  
}
#footer > li{
  padding: 1% 2% 0%;
  list-style:none;
}
footer > p{
  display:flex;
  justify-content: flex-end;
  margin-right:1%;
}
